
<!-- TITLE -->
<mat-card class="mb-40">
    <h1>
        Home
    </h1>
</mat-card>
    

<mat-card>
    <mat-card-content>
        <!-- START LINKS -->
<div>
    <a routerLink="/actors" routerLinkActive="active">Link to List Actor</a>
</div>
<div>
    <a routerLink="/films" routerLinkActive="active">Link to List Film</a>
</div>
<div>
    <a routerLink="/filmmakers" routerLinkActive="active">Link to List FilmMaker</a>
</div>
 <!-- END LINKS -->
    </mat-card-content>

</mat-card>